@using Forum.Core.Models.UserProfile
@{
    ViewData["Title"] = "Show app user extended information";
    @model UserProfileShowFm
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/ShowUserDetail.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="user_details_show_div">
    <h2 class="user_details_show_text">
        User details
    </h2>
</div>

<div>
    @{
        <table class="table table-striped">
            <tr>
                <th>AppUserId</th>
                <th>Name</th>
                <th>Surname</th>
                <th>DisplayName</th>
                <th></th>
            </tr>
            <tr>
                <td>@Model.AppUserId</td>
                <td>@Model.Name</td>
                <td>@Model.Surname</td>
                <td>@Model.DisplayName</td>
            </tr>
        </table>
    }
</div>