@using Forum.Core.Models.UserProfile
@{
    ViewData["Title"] = "Show app user extended information";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/ShowUserDetail.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="user_details_show_div">
    <h2 class="user_details_show_text">
        User details
    </h2>
</div>


@await Component.InvokeAsync("UserDataShow")