@using Forum.Core.Models.CommentToAnswer
@model CommentToAnswerAddFM

<div class="form-group">
    <form asp-action="Add" asp-controller="CommentToAnswerController" method="post">
        <label asp-for="CommentToAnswerContent"></label>
        <textarea name="CommentToAnswerContent" class="form-control" rows="25" placeholder="Type your comment" required></textarea>
        <input type="submit" />
    </form>
</div>