@using Forum.Core.Models.CommentToAnswer
@{
    ViewData["Title"] = "Coment the answer";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/CommentAnswer.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="comment_the_answer_div">
    <h2 class="comment_the_answer_text">
        Comment the answer
    </h2>
</div>

@await Component.InvokeAsync("CommentToAnswerAdd", new {CommentToAnswerAddFM = Model})
