@using Forum.Core.Models.CommentToAnswer
@{
    ViewData["Title"] = "Update comment to answer";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateCommentToComment.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="update_comments_to_comment_text_div">
    <h2 class="update_comments_to_comment_text">
        Update Comment to answer
    </h2>
</div>

@await Component.InvokeAsync("CommentToAnswerUpdate", new {UpdateCommentToAnswerFM = Model})
