@using Forum.WebApp.Models.Account
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/LogIn.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="SignIn_div">
    <h2 class="SignIn_text">
        SIGN IN
    </h2>
</div>

@await Component.InvokeAsync("LogIn", new {LogInModel = Model})
