@using Forum.WebApp.Models.Account
@{
    ViewData["Title"] = "Add new answer";

    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/SignUp.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="SignUp_div">
    <h2 class="SignUp_text">
        REGISTER
    </h2>
</div>



@await Component.InvokeAsync("SignUp", new {RegisterFM = Model})

