@using Forum.Core.Models.AppUserModels
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateAppUser.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="update_appUser_div">
    <h2 class="update_appUser_text">
        Update user data
    </h2>
</div>



@await Component.InvokeAsync("AccountUpdate", new {FormModelAppUser = Model})


