@using Forum.Core.Models.CommentToAnswer
@model UpdateCommentToAnswerFM

<div class="form-group">
    <form asp-action="Add" asp-controller="CommentToAnswerController" method="post">
        <label asp-for="CommentToAnswerContent"></label>
        <textarea name="CommentToAnswerContent" class="form-control" rows="25" placeholder="Update Comment to answer" required></textarea>
        <input type="submit"/>
    </form>
</div>
