@using Forum.Core.Models.Question
@{
    ViewData["Title"] = "Update Question";
    
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateQuestion.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="update_answer_div">
    <h2 class="update_answer_text">
        What is your updated answer?
    </h2>
</div>

@await Component.InvokeAsync("QuestionUpdate", new {QuestionAddFM = Model})
