.ShowError_text {
    color: white;
}

#ShowError_div {
    background-color: grey;
    padding-bottom: 15px;
    padding-top: 15px
}

.ShowError_div:hover {
    color: yellow;
    background-color: grey
}

#Go_Back_link{
    color: black;
    font-size: 15px
}

    #Go_Back_link:hover {
        color: red;
        font-size: 20px
    }