body {
}

.update_answer_text {
    color: white;
}



#update_answer_div {
    background-color: grey;
    padding-bottom: 15px;
    padding-top: 15px
}

.update_answer_div:hover {
    color: yellow;
    background-color: grey
}
