@using Forum.Core.Models.Answer
@{
    ViewData["Title"] = "Add new answer";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/AddAnswerToQuestion.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="answer_the_question_div">
    <h2 class="answer_the_question_text">
        What is your answer?
    </h2>
</div>

@await Component.InvokeAsync("AnswerAdd", new {AnswerAddFM = Model})
