@using Forum.Core.Models.Answer
@{
    ViewData["Title"] = "Update answer";
    @model AnswerUpdateFM
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateAnswer.css" rel="stylesheet">
}


<div class="col-12 d-flex justify-content-center" id="update_answer_div">
    <h2 class="update_answer_text">
        Update your answer
    </h2>
</div>

<div class="form-group">
    <form asp-action="Add" asp-controller="AnswerController" method="post">
        <label asp-for="AnswerContent"></label>
        <textarea name="AnswerContent" class="form-control" rows="25" placeholder="update your asnwer" required></textarea>
        <input type="submit" />
    </form>
</div>


