@using Forum.Core.Models.Answer
@{
    ViewData["Title"] = "Update answer";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateAnswer.css" rel="stylesheet">
}


<div class="col-12 d-flex justify-content-center" id="update_answer_div">
    <h2 class="update_answer_text">
        Update your answer
    </h2>
</div>

@await Component.InvokeAsync("AnswerUpdate", new {AnswerUpdateFM = Model})
