@using Forum.Core.Models.CommentToComment
@{
    ViewData["Title"] = "Add new comment to comment";
    @model AddCommentToCommentFM
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/AddCommentToComment.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="add_comment_to_comment_div">
    <h2 class="add_comment_to_comment_text">
        Add comment to comment
    </h2>
</div>
<div>
    <form asp-action="Add" class="form-group" asp-controller="CommentToCommentController" method="post">
        <label asp-for="CommentToCommentContent"></label>
        <textarea name="CommentToCommentContent" class="form-control" rows="25" placeholder="Write your comment" required></textarea>
        <input type="submit" />
    </form>
</div>


