@using Forum.Core.Models.CommentToComment
@{
    ViewData["Title"] = "Add new comment to comment";
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/AddCommentToComment.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="add_comment_to_comment_div">
    <h2 class="add_comment_to_comment_text">
        Add comment to comment
    </h2>
</div>
@await Component.InvokeAsync("CommentToCommentAdd", new {AddCommentToCommentFM = Model})
