@using Forum.Core.Models.CommentToComment
@{
    ViewData["Title"] = "Update comment to answer";
    @model AddCommentToCommentFM
    Layout = "~/Views/Shared/Layouts/__Main.cshtml";
    <link href="~/css/UpdateCommentToComment.css" rel="stylesheet">
}

<div class="col-12 d-flex justify-content-center" id="update_comments_to_comment_text_div">
    <h2 class="update_comments_to_comment_text">
        Update comment to Comment
    </h2>
</div>

<div class="form-group">
    <form asp-action="Update" method="post">
        <label asp-for="CommentToCommentContent"></label>
        <textarea name="CommentToCommentContent" class="form-control" rows="25" placeholder="Update Comment to comment" required></textarea>
        <input type="submit"/>
    </form>
</div>

